################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/EvalD2P2P3/.vs/EvalD2P2P3
/EvalD2P2P3/ApiEvalD2P2P3/bin/Debug/net9.0
